<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Actualizar Datos Cliente</ion-title>
        <ion-buttons slot="end">
            <ion-button size="small" shape="round" (click)="cerrarModal()" color="tertiary">
                <ion-icon slot="start" name="close"></ion-icon> Cerrar
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <!-- <ion-toolbar color="primary">
        <ion-searchbar type="text" placeholder="Find location" animated="true" (ionInput)="setFilteredItems($event)"></ion-searchbar>
    </ion-toolbar> -->
</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-header>
            {{ _clientes.clienteActual.cliente }}!
            <!-- <img [src]="imagenPreview" /> -->
        </ion-card-header>
        <ion-card-content>
            <!-- <ion-item> -->
            <img *ngIf="_visitas.direc_actual.link_foto" [src]="_DomSanitizer.bypassSecurityTrustUrl(_visitas.direc_actual.link_foto)" />
            <img *ngIf="!_visitas.direc_actual.link_foto" src="assets/img/imagennodisponible.jpg" />
            <ion-button icon-left size="small" shape="round" color="tertiary" (click)="mostrar_camara()">
                Actualizar Foto
                <ion-icon name="camera"></ion-icon>
            </ion-button>
            <!-- </ion-item> -->

        </ion-card-content>
        <p>{{address}}</p>
        <ion-card-content no-padding>
            <agm-map [latitude]="coords.lat" [longitude]="coords.lng" [zoom]="14" [zoomControl]="false" [styles]="agmStyles" [streetViewControl]="false">
                <agm-marker [latitude]="coords.lat" [longitude]="coords.lng"></agm-marker>
            </agm-map>
        </ion-card-content>
        <ion-button *ngIf="cargo_posicion" icon-left size="small" shape="round" color="tertiary" (click)="actualiza_ubicaciongps()">
            Actualizar Ubicación
            <ion-icon name="pin"></ion-icon>
        </ion-button>
    </ion-card>
</ion-content>